.create {
    width: 560px;
    height: 218px;
    padding: 40px 2%;
    position: fixed;
    top: -300px;
    left: 50%;
    margin: 0 0 0 -280px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
}
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 1.6rem;
    cursor: pointer;
}
.make {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
}
.ipt {
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    position: relative;
}
.ipt input,.ipt select{
    height: 34px;
    padding: 0 10px;
    border: 1px #ccc solid;
    color: #464646;
    width: 228px;
}
.ipt select {
    height: 38px;
    width: 250px;
}
.error{
    position: absolute;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #ff0000;
    left: 70px;
    top: -30px;
    color: #fff;
    border-radius: 5px;
    display: none;
}
.ipt .url{
    width: 360px;
}
.ipt .number{
    width: 100px;
}
.ipt button{
    width: 150px;
    height: 40px;
    border: 1px #ccc solid;
    cursor: pointer;
}
.ipt .btn{
    margin-left: 70px;
}
.tips{
    position:static;
    display: none;
    padding: 5px 0;
}