.tasks{
    margin:20px 30px;
}
.tasks .tit{
    height: 30px;
    overflow: hidden;
}
.tasks .tit h2{
    font-size: 2rem;
}
.tasks .tit span{
    width: 100px;
    height: 30px;
    background: #fa7d3c;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}
.list {
    margin-top: 20px;
    overflow: hidden;
}
.list ol {
    height: 30px;
    border-bottom: 1px #000 solid;
}
.list ol li{
    float: left;
    width: 14.28%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.list ul{
    border-bottom: 1px #000 solid;
    height: 30px;
    overflow: hidden;
}
.list ul li{
    float: left;
    width: 14.28%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}
.no-data {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px #000 solid;
}
.green {
    color: green;
}
.red {
    color: red;
}