header{
    height:40px;
    font-size: 1.4rem;
    border-top: 2px solid #fa7d3c;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.15);
    background: #fff;
    overflow: hidden;
}
header .user{
    margin-right: 20px;
}
header .user li{
    float: left;
    line-height: 40px;
    padding-right: 10px;
}
.logo {
    line-height: 40px;
    font-size: 1.6rem;
    padding: 0 0 0 30px;
    color: #666;
}
nav {
    line-height: 40px;
    padding-left: 20px;
}
nav li{
    float: left;
    width: 60px;
    text-align: center;
}
nav .active{
    width: 60px;
    height: 40px;
    background: #fa7d3c;
    display: block;
    color: #fff;
}
.notice,.price,.recharge,.explain {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}
.notice .tit,.price .tit,.recharge .tit,.explain .tit{
    height: 40px;
    background: #428bca;
    line-height: 40px;
    font-size: 1.6rem;
    padding: 0 20px;
    color: #fff;
}
.notice .con,.price .con,.recharge .con,.explain .con {
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-color: #ccc;
    border-style: solid;
    overflow: hidden;
}
.notice .con li,.price .con li,.recharge .con li,.explain .con li{
    line-height: 25px;
    font-size: 1.4rem;
    padding: 10px 0;
    border-bottom: 1px #ccc dashed;
}
.price .con ul{
    overflow: hidden;
    border-bottom: 1px #ccc dashed;
}
.price .con li{
    float:left;
    width: 33%;
    border-bottom: none;
}
.explain .con ul{
    float: left;
    width: 50%;
    border-bottom: 1px #ccc dashed;
}
.explain .con li{
    float: left;
    width: 50%;
    border-bottom: none; 
}
footer{
    height: 30px;
    font-size: 1.4rem;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    overflow: hidden;
}