body{
  background-image: url(../Login/img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
}
.register {
    width: 300px;
    height: 340px;
    border: 1px #ccc solid;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -175px;
    background: #fff;
    opacity: 0.8;
}
.register .name{
  font-size: 2rem;
  text-align: center;
  padding: 10px 0 0 0;
}
.register .list-box{
  position: relative;
}
.register .list-box .label{
  font-size: 1.4rem;
  width: 260px;
  color: #848585;
  text-align: left;
  margin-left: 10px;
  display: block;
  margin: 10px 0 10px 30px;
}
.register .list-box .txt{
  width: 230px;
  height: 28px;
  border: 1px #ccc solid;
  padding: 0 5px;
  display: block;
  margin: 0 30px;
  color: #848585;
}
.register .list-box .btn{
  width: 240px;
  height: 30px;
  border: 1px #ccc solid;
  margin: 10px 0 10px 30px;
  cursor: pointer;
  background-color: #1ABA9E;
  border: 0px;
  border-bottom: 2px solid #199984;
  color: #fff;
  font-size: 1.6rem;
}
.register .foot a{
  float:right;
  color: #000;
  margin-right: 30px;
  font-size: 1.4rem;
  font-weight: 700;
}