.pays{
    margin:20px 30px;
}
.pays .tit{
    height: 30px;
    overflow: hidden;
}
.pays .tit h2{
    font-size: 2rem;
}
.pays ol,.pays ul{
	border-bottom: 1px #ccc solid;
	height: 30px;
	line-height: 30px;
}
.pays li{
	float: left;
	width: 25%;
	text-align: center;
}