.home {
   margin: 20px 10px;
   overflow: hidden;
}
.notice {
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}
.tit{
    height: 40px;
    background: #428bca;
    line-height: 40px;
    font-size: 1.6rem;
    padding: 0 20px;
    color: #fff;
}
.notice-con {
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-color: #ccc;
    border-style: solid;
}