html {
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body {
    font-size: 1.4rem;
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}
address, cite, dfn, em, var {
    font-style: normal
}
code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}
small {
    font-size: 12px
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited,a:link {
    color: #333;
}
a:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
legend {
    color: #000
}
fieldset, img {
    border: 0
}
button, input, select, textarea {
    font-size: 100%;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.mt20 {
    margin-top: 20px;
}
.tips{
    position: absolute;
    left: 280px;
    top: 28px;
    min-width: 200px;
    z-index: 3;
}
.error{
    padding: 0 10px;
    height: 28px;
    position: absolute;
    line-height: 28px;
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
    display: none;
}
.success{
    background: green;
    position: absolute;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius: 5px;
    display: none;
}
    .ui-pagnation {display: block; margin-top: 50px; color: #535353; line-height: 29px; text-align: center }
    .ui-pagnation a {float: left; min-width: 30px; height: 30px; padding: 0 7px; vertical-align: middle; text-decoration: none; cursor: pointer;}
    .ui-pagnation .next,.ui-pagnation .prev {margin: 0 9px; background-color: #f3f4f8; border: 1px solid #00a0e9 }
    .ui-pagnation .next:before,.ui-pagnation .prev:before {content: '<'; color: #00a0e9; font-size: 14px }
    .ui-pagnation .next:hover,.ui-pagnation .prev:hover {border-color: #50c8ff }
    .ui-pagnation .next:hover:before,.ui-pagnation .prev:hover:before {color: #50c8ff }
    .ui-pagnation .disable.next,.ui-pagnation .prev.disable {background-color: #f3f4f8; border-color: #a0a0a0; cursor: no-drop;}
    .ui-pagnation .disable.next:before,.ui-pagnation .prev.disable:before {color: #a0a0a0 }
    .ui-pagnation .next:before {content: '>'}
    .ui-pagnation .num {margin-left: -1px; padding: 0 7px; border: 1px solid #e5e5e5; color: #707070 }
    .ui-pagnation .num.current,.ui-pagnation .num:hover {background-color: #a7bbcb; border-color: #a7bbcb; color: #fff }
    .ui-pagnation .ellipsis {width: 42px; height: 30px; color: #707070; line-height: 30px }
    .ui-pagnation input {width: 44px; height: 24px; border: 1px solid #eee; text-align: center }
    .ui-pagnation .page-go {min-width: 60px; margin-left: 10px; margin-right: 10px; background-color: #a7bbcb; border: 1px solid #879cac; color: #fff }
    .ui-pagnation .page-go:hover {background-color: #87a2b8; border-color: #698397 }