.login {

}
.login .loginBg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.login .bg {
  background-image: url(img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
}
.login .bg1{
  background-image: url(img/1.jpg);
}
.login .bg2{
  background-image: url(img/2.jpg);
}
.login .bg3{
  background-image: url(img/3.jpg);
}
.login-box{
  width: 300px;
  height: 290px;
  border: 1px #ccc solid;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -145px 0 0 -150px;
  background: #fff;
  opacity: 0.8;
  z-index: 2;
}
.login .name{
  font-size: 2rem;
  text-align: center;
  padding: 10px 0 0 0;
}
.login .list-box{
  position: relative;
  overflow: hidden;
}
.login .list-box .label{
  font-size: 1.4rem;
  width: 260px;
  color: #848585;
  text-align: left;
  margin-left: 10px;
  display: block;
  margin: 10px 0 10px 30px;
}
.login .list-box .txt{
  width: 230px;
  height: 28px;
  border: 1px #ccc solid;
  padding: 0 5px;
  display: block;
  margin: 0 30px;
  color: #848585;
}
.login .list-box .unlogn{
  margin: 10px 0 10px 30px;
  display: block;
  color: #848585;
  font-size: 1.2rem;
  cursor: pointer;
}
.login .list-box .unlogn .checkbox{
  margin:3px 5px 0 0;
}
.login .list-box .btn{
  width: 240px;
  height: 30px;
  border: 1px #ccc solid;
  margin: 10px 0 10px 30px;
  cursor: pointer;
  background-color: #1ABA9E;
  border: 0px;
  border-bottom: 2px solid #199984;
  color: #fff;
  font-size: 1.6rem;
}
.login .foot a{
  float:right;
  color: #000; 
  margin-right: 30px;
  font-size: 1.4rem;
  font-weight: 700;
}
.error{
  left: 45px;
  top: 10px;
  z-index: 3;
}