.users{
    margin:20px 30px;
}
.users .tit{
    height: 30px;
    overflow: hidden;
}
.users .tit h2{
    font-size: 2rem;
}
.users .list {
    margin-top: 20px;
    overflow: hidden;
}
.users .list ol {
    height: 30px;
    border-bottom: 1px #000 solid;
}
.users .list ol li{
    float: left;
    width: 14.28%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.users .list ul{
    border-bottom: 1px #000 solid;
    height: 30px;
    overflow: hidden;
}
.users .list ul li{
    float: left;
    width: 14.28%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}