.users{
    margin:20px 30px;
}
.users .tit{
    height: 30px;
    overflow: hidden;
}
.users .tit h2{
    font-size: 2rem;
}
.users .tit span{
    width: 100px;
    height: 30px;
    background: #fa7d3c;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}
.users .list {
    margin-top: 20px;
    overflow: hidden;
}
.users .list ol {
    height: 30px;
    border-bottom: 1px #000 solid;
}
.users .list ol li{
    float: left;
    width: 14.28%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.users .list ul{
    border-bottom: 1px #000 solid;
    height: 30px;
    overflow: hidden;
}
.users .list ul li{
    float: left;
    width: 14.28%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}
.user-edit{
    margin:60px auto 0 auto;
    width: 700px;
    height: 470px;
    overflow: hidden;
    position: relative;
}
.user-edit .tab{
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 2;
}
.user-edit .tab span{
    float: left;
    width: 100px;
    height: 40px;
    border: 1px #ccc solid;
    display: block;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}
.user-edit .tab span.cur{
    background: #f1f1f1;
}
.user-edit .edit{
    border: 1px #ccc solid;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top:39px;
    left: 0;
}
.user-edit .ipt {
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}
.user-edit .ipt label{
    float: left;
    width: 70px;
    line-height: 38px;
    text-align: right;
    margin-right: 10px;
}
.user-edit .ipt input,.user-edit .ipt select{
    float: left;
    height: 34px;
    padding: 0 10px;
    border: 1px #ccc solid;
    color: #464646;
    width: 228px;
    border-radius: 5px;
}
.user-edit .ipt select {
    height: 36px;
    width: 250px;
}
.user-edit .ipt .email,.user-edit .ipt .username,.user-edit .ipt .group{
    float: left;
    line-height:38px;
}
.user-edit .ipt .prices{
    color: #ff0000;
    line-height:38px;
}
.user-edit .ipt .error{
    float: left;
    position: static;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
    display: none;
    margin-left: 10px;
}
.user-edit .ipt .success{
    float: left;
    position: static;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
}
.user-edit .ipt button{
    width: 150px;
    height: 40px;
    border: 1px #ccc solid;
    cursor: pointer;
}
.user-edit .ipt .btn{
    margin-left: 80px;
}
.user-edit .ipt .tips{
    float: left;
    position:static;
}
.user-edit .ipt .prompt{
    padding-left: 10px;
    line-height: 36px;
    color: #ff0000;
}
.pay{
    width: 0;
    height: 0;
    border: 1px #ccc solid;
    position: fixed;
    top:50%;
    left: 50%;
    margin: -150px 0 0 -75px;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    opacity: 0;
    padding: 20px;
}
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 1.6rem;
    cursor: pointer;
}
.pay .ipt {
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}
.pay .ipt label{
    float: left;
    width: 70px;
    line-height: 38px;
}
.pay .ipt span{
    color: #ff0000;
    line-height:38px;
}
.pay .ipt input{
    float: left;
    height: 34px;
    padding: 0 10px;
    border: 1px #ccc solid;
    color: #464646;
    width: 150px;
    border-radius: 5px;
}
.pay .ipt button{
    width: 150px;
    height: 40px;
    border: 1px #ccc solid;
    cursor: pointer;
}
.pay .ipt .btn{
    margin-left: 70px;
}