.users{
    margin:20px 30px;
}
.users .tit{
    height: 30px;
    overflow: hidden;
}
.users .tit h2{
    font-size: 2rem;
}
.users .tit span{
    width: 100px;
    height: 30px;
    background: #fa7d3c;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}
.users .list {
    margin-top: 20px;
    overflow: hidden;
}
.users .list ol {
    height: 30px;
    border-bottom: 1px #000 solid;
}
.users .list ol li{
    float: left;
    width: 14.28%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.users .list ul{
    border-bottom: 1px #000 solid;
    height: 30px;
    overflow: hidden;
}
.users .list ul li{
    float: left;
    width: 14.28%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}
.user-edit{
    margin:150px auto 0 auto;
    width: 700px;
    height: 330px;
    border: 1px #ccc solid;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}
.user-edit .ipt {
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}
.user-edit .ipt label{
    float: left;
    width: 70px;
    line-height: 38px;
    text-align: right;
    margin-right: 10px;
}
.user-edit .ipt input,.user-edit .ipt select{
    float: left;
    height: 34px;
    padding: 0 10px;
    border: 1px #ccc solid;
    color: #464646;
    width: 228px;
    border-radius: 5px;
}
.user-edit .ipt select {
    height: 36px;
    width: 250px;
}
.user-edit .ipt .email,.user-edit .ipt .username,.user-edit .ipt .group{
    float: left;
    line-height:38px;
}
.user-edit .ipt .prices{
    color: #ff0000;
    line-height:38px;
}
.user-edit .ipt .error{
    float: left;
    position: static;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
    display: none;
    margin-left: 10px;
}
.user-edit .ipt .success{
    float: left;
    position: static;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
}
.user-edit .ipt button{
    width: 150px;
    height: 40px;
    border: 1px #ccc solid;
    cursor: pointer;
}
.user-edit .ipt .btn{
    margin-left: 80px;
}
.user-edit .ipt .tips{
    float: left;
    position:static;
}
.user-edit .ipt .prompt{
    padding-left: 10px;
    line-height: 36px;
    color: #ff0000;
}